.header {
    padding: 12px 0;
    &__grid {
        @include flex(row, center, flex-end);
    }
    &__notification {
        margin-right: 15px;
    }
    &__btn {
        display: block;
        margin-left: 32px;
    }
}