.btn {
    display: inline-block;
    vertical-align: middle;
    background: $primary-color-lighter;
    padding: 0 20px;
    height: 55px;
    border-radius: 6px;
    color: $white-color;
    @include font-weight('regular');
    font-size: 1.8rem;
    line-height: 1.22;
    text-decoration: none;
    cursor: pointer;
    &_width {
        &-fixed {
            width: 160px;
        }
    }
    &:hover {
        background: darken($primary-color-lighter, 3%);
    }
    &:active {
        background: darken($primary-color-lighter, 5%);
    }
    &:disabled {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
    }
    &_action {
        &-cancel {
            background: $white-color;
            box-shadow: 0 4px 15px 0 rgba($secondary-color, 0.15);
            color: $primary-color-lighter;
            &:hover {
                background: $white-color;
                box-shadow: 0 2px 15px 0 rgba($secondary-color, 0.15);
            }
            &:active {
                background: $white-color;
                box-shadow: 0 2px 15px 0 rgba($secondary-color, 0.1);
            }
            &:disabled {
                opacity: .5;
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    }
}