.btn {
    background: $primary-color-lighter;
    padding: 0 25px;
    height: 55px;
    border-radius: 6px;
    color: $white-color;
    @include font-weight('regular');
    font-size: 1.8rem;
    line-height: 1.22;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: darken($primary-color-lighter, 3%);
    }
    &:active {
        background: darken($primary-color-lighter, 5%);
    }
    &:disabled {
        opacity: .5;
        pointer-events: none;
        cursor: not-allowed;
    }
}