.th-auth {
    @include flex(row, stretch, flex-start);
    &__col{
        width: 50%;
        flex: 1 1 auto;
        background: $primary-color;
    }
    &__title{
        @include flex(column, flex-start, center);
        padding: 25px;
        padding-left: 70px;
        &-value{
            font-size: 6.4rem;
            line-height: 1;
            @include font-weight('regular');
            margin: 0;
            color: $white-color;
            text-transform: uppercase;
        }
    }
}