.table-filter {
    @include flex(row, stretch, flex-start);
    &__item {
        margin-right: 15px;
        @include flex(column, flex-start, flex-start);
        &:last-child {
            margin-right: 0;
        }
    }
    &__label {
        font-size: 1.4rem;
        line-height: 1.2;
        text-transform: uppercase;
        color: $primary-color-lighter;
        @include font-weight('medium');
        margin-bottom: 10px;
    }
}