.wrapper {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: image('th-bg.jpg') no-repeat 50%;
    background-size: cover;
    &__main{
        width: 100%;
    }
}

.menu-btn {
    width: 25px;
    height: 18px;
}

.template {
    &__wrapper {
        padding-top: 45px;
        padding-left: 32px;
    }
    &__header {
        position: relative;
        margin-bottom: 25px;
    }
    &__title {
        font-size: 3.2rem;
        line-height: 1.19;
        @include font-weight('regular');
        margin: 0;
    }
}

.customers-template {
    &__table {
        margin-top: 30px;
    }
}