.notification {
    position: relative;
    &__btn {
        @include flex(row, center, center);
        position: relative;
        z-index: 2;
        border: 1px solid transparent;
        &_state {
            &-active {
                box-shadow: none;
                border: 1px solid $primary-color-lighter;
            }
        }
    }
    &__counter {
        position: absolute;
        top: -4px;
        right: -4px;
        margin: 0;
        width: 16px;
        height: 16px;
        background: $red-color;
        border-radius: 50%;
        z-index: 1;
        font-size: 1.2rem;
        color: $white-color;
        @include font-weight('semi');
        line-height: 16px;
        text-align: center;
    }
    &__wrapper {
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 1;
        width: 290px;
        background: $white-color;
        padding: 15px;
        transform: scale3d(0,0,0);
        opacity: 0;
        pointer-events: none;
        &_state {
            &-opened {
                opacity: 1;
                transform: scale3d(1,1,1);
                pointer-events: auto;
            }
        }
    }
}