// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$font: 'Museo Sans Cyrl';
$base-font-size: 16px;
$base-path: '../';
//Colors
$white-color: #fff;
$black-color: #454545;
$primary-color: hsl(202, 38%, 34%);
$primary-color-darker: hsl(202, 40%, 27%);
$primary-color-lighter: hsl(199, 75%, 53%);
//Font weight
$font-weight: (
    'thin': 100,
    'regular': 300,
    'medium': 500,
    'semi': 700,
    'black': 900 
);
