// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$font: 'Museo Sans Cyrl';
$base-font-size: 16px;
$base-path: '../';
//Colors
$white-color: #fff;
$black-color: #454545;
$primary-color: #366078;
//Font weight
$font-weight: (
    'thin': 100,
    'regular': 300,
    'medium': 500,
    'semi': 700,
    'black': 900 
);
