.section {
    &__header {
        @include flex(row, center, flex-start);
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-color;
        margin-bottom: 25px;
    }
    &__title {
        margin: 0;
        font-size: 2rem;
        line-height: 1.2;
        @include font-weight('semi');
        text-transform: uppercase;
        color: $primary-color;
    }
    &__btn {
        margin-left: auto;
        text-transform: capitalize;
    }
    &__content {
        & p {
            margin: 0;
            font-size: 1.8rem;
            margin-bottom: 25px;
            line-height: 1.22;
            @include font-weight('thin');
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__footer {
        &_align {
            &-center {
                text-align: center;
            }
        }
    }
}